#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
.demo-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.demo-section {
  outline: 1px solid gray;
  padding: 10px;
}

.read-the-docs {
  color: #888;
}
